"appbuild"
{
    "appid" "APP_ID_REQUIRED"
    "desc" "The Weight We Carry Windows release candidate"
    "buildoutput" "..\\output"
    "contentroot" "..\\..\\build"
    "setlive" ""
    "preview" "1"
    "local" ""
    "depots"
    {
        "DEPOT_ID_REQUIRED" "depot_build_windows.vdf"
    }
}
